<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Timely Graduation Prediction</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        .container {
            margin-top: 50px;
        }
        .logo {
            width: 100px;
            height: auto;
        }
        .logo-page {
            width: 200px;
            height: auto;
        }
        body {
            background: linear-gradient(to bottom, #6AA8E2, white, #6AA8E2);
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-auto">
                    <img src="{{ url_for('static', filename='assets/del-logo.jpg') }}" alt="Logo" class="logo">
                </div>
                <div class="col">
                    <h1 class="text-center">Timely Graduation Prediction</h1>
                </div>
            </div>
            <hr>
            <div class="text-center my-5">
                <h5>Welcome and please check your graduation predictions</h5>
                <div class="row my-5">
                    <div class="col d-flex justify-content-start">
                        <img src="{{ url_for('static', filename='assets/logo-1.png') }}" alt="Logo 1" class="logo-page">
                    </div>
                    <div class="col text-center">
                        <img src="{{ url_for('static', filename='assets/logo-2.png') }}" alt="Logo 2" class="logo-page">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <img src="{{ url_for('static', filename='assets/logo-3.png') }}" alt="Logo 3" class="logo-page">
                    </div>
                </div>
                <a href="/predict" class="btn btn-primary btn-lg my-5" style="width: 200px;">Check</a>
                <h5>We will predict your graduation accuracy in a timely manner, using machine learning technology to guarantee accuracy.</h5>
            </div>
        </div>
        <br>
        <br>
        <br>
    </body>
</html>
