<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Timely Graduation Prediction</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        .container {
            margin-top: 50px;
        }
        .logo {
            width: 100px; /* Sesuaikan ukuran logo sesuai kebutuhan */
            height: auto;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="card text-white bg-primary mb-3" style="height: 10rem;">
                <div class="card-body">
                    <div class="row align-items-center h-100">
                        <div class="col-auto">
                            <img src="{{ url_for('static', filename='assets/del-logo.jpg') }}" alt="Logo" class="logo">
                        </div>
                        <div class="col">
                            <h3 class="text-center">Timely Graduation Prediction</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center my-5">
                <h5>Welcome and please check your graduation predictions.</h5>
                <a href="/predict" class="btn btn-primary btn-lg my-5">Check</a>
                <h5 class="mt-2">We will predict your graduation accuracy in a timely manner,<br>using machine learning technology to guarantee accuracy.</h5>
            </div>
            <br>
            <br>
            <br>
        </div>
    </body>
</html>
