<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prediksi Kelulusan</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        .container {
            margin-top: 50px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="card text-white bg-primary mb-3" style="height: 10rem;">
                <div class="card-body">
                    <div class="container">
                        <h3 class="text-center mt-5">Prediksi Kelulusan</h3>
                    </div>
                </div>
            </div>
            <form method="POST">
                <div class="form-group">
                    <label for="jumlah_semester">Jumlah Semester:</label>
                    <input type="number" class="form-control" id="jumlah_semester" name="jumlah_semester" {% if data.jumlah_semester %}value = {{ data.jumlah_semester }}{% endif %} required>
                </div>
                <div class="form-group">
                    <label for="jenjang">Jenjang:</label>
                    <select class="form-control" id="jenjang" name="jenjang" required>
                        <option value="1" {% if data.jenjang == "1" %} selected {% endif %}>S1</option>
                        <option value="2" {% if data.jenjang == "2" %} selected {% endif %}>D4</option>
                        <option value="3" {% if data.jenjang == "3" %} selected {% endif %}>D3</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Prediksi</button>
            </form>
            {% if data %}
                {% if data.prediction == "Tepat waktu" %}
                    <div class="alert alert-success shadow-lg p-3 my-5 rounded">
                        <div class="m-3">
                            <center>
                                <h3>{{ data.prediction }}</h3>
                            </center>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning shadow-lg p-3 my-5 rounded">
                        <div class="m-3">
                            <center>
                                <h3>{{ data.prediction }}</h3>
                            </center>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>
