<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Graduation Prediction</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        .container {
            margin-top: 50px;
        }
        .logo {
            width: 100px; /* Sesuaikan ukuran logo sesuai kebutuhan */
            height: auto;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="card text-white bg-primary mb-3" style="height: 10rem;">
                <div class="card-body">
                    <div class="row align-items-center h-100">
                        <div class="col-auto">
                            <img src="{{ url_for('static', filename='assets/del-logo.jpg') }}" alt="Logo" class="logo">
                        </div>
                        <div class="col">
                            <h3 class="text-center">Graduation Prediction</h3>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/result" method="POST">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="asal_sma">Asal SMA:</label>
                        <input type="text"
                            class="form-control"
                            id="asal_sma"
                            name="asal_sma"
                            {% if data.request.asal_sma %}value = "{{ data.request.asal_sma }}"{% endif %}
                            required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="penghasilan_orang_tua">Penghasilan Orang Tua:</label>
                        <input type="number" class="form-control" id="penghasilan_orang_tua" name="penghasilan_orang_tua" {% if data.request.penghasilan_orang_tua %}value = {{ data.request.penghasilan_orang_tua }}{% endif %} required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="n_toefl">TOEFL:</label>
                        <input type="number" class="form-control" id="n_toefl" name="n_toefl" {% if data.request.n_toefl %}value = {{ data.request.n_toefl }}{% endif %} required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="prodi_code">Prodi:</label>
                        <select class="form-control" id="prodi_code" name="prodi_code" required>
                            {% for prodi, code, _ in data.vars.prodi %}
                                <option value={{ code }} {% if data and data.request.prodi_code == code %}selected{% endif %}>
                                    {{ prodi }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="jalur_code">Jalur Masuk:</label>
                        <select class="form-control" id="jalur_code" name="jalur_code" required>
                            {% for jalur, code in data.vars.jalur %}
                                <option value={{ code }} {% if data and data.request.jalur_code == code %}selected{% endif %}>
                                    {{ jalur }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="jenis_kelamin_code">Jenis Kelamin:</label>
                        <select class="form-control"
                                id="jenis_kelamin_code"
                                name="jenis_kelamin_code"
                                required>
                            {% for gender, code in data.vars.jenis_kelamin %}
                                <option value={{ code }} {% if data and data.request.jenis_kelamin_code == code %}selected{% endif %}>
                                    {{ gender }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% for i in range(1, 15) %}
                        <div class="col-md-6 form-group">
                            <label for="ip_semester_{{ i }}">IP Semester {{ i }}:</label>
                            <input type="number" class="form-control" id="ip_semester_{{ i }}" name="ip_semester_{{ i }}" step="0.001" {% if data.request %} value = {{ data.request.ips[i-1] }}{% endif %} >
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Prediksi</button>
            </form>
            {% if data.error_message %}
                <div class="alert alert-danger shadow-lg p-3 my-5 rounded">
                    <div class="m-3">
                        <center>
                            <h3>{{ data.error_message }}</h3>
                        </center>
                    </div>
                </div>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </body>
</html>
